*{
    margin: 0;
  //  font-size: 14pt;
    // font-family: "Liberation sans", Freesans, Arial, Helvetica, Ubuntu, "Droid Sans", "DejaVu Sans", sans-serif;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #EEEEEE;

}
.top{
   // background: #3A5BA2;
   background: #ED2241;
    height: 50px;
    

}
.conteudo{
    // border: 1px solid #2D5FE8;
    margin: 0 auto; 
    width: 1000px;
    height: 758px;
    overflow: auto;
    margin-top: 1%;
    background-color: #FFFFFF;

}
.login{
    border: 1px solid #CCCCCC;
    margin: 0 auto;
    width: 500px;
    height: 600px;
    margin-top: 56px;
    text-align: center;
    box-shadow: 0 4px 0 #CCCCCC;
}
.entrar{
    color: #ffffff;
   //background-color: #4486F6;
   background: #ED2241;
}
.entrar:hover{
    box-shadow: 4px 4px 0 #CCCCCC;
}
.menu ul {
    //padding:0px;
   // margin:0px;
    //background-color:#4174B5;
    background: #ED2241;
    list-style:none;
    
}
.menu ul li { 
    display: inline;
}
.menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
   // border-bottom:3px solid #EDEDED;
}
.sair{
     padding: 2px 10px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    float: right;
}
.menu ul li a:hover{
   padding: 1px 10px;
    display: inline-block;
    //background-color: #82B5E3;
    background-color: #000;
   
    
}
.logo{
    height: 80px;
    background: url(../img/iesb.png) no-repeat ;
    
}
.table{
    //border: 1px solid black;
      float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 780px;
    text-align: center;
  //  background-color: #EEEEEE;
    font-size: 11pt;
}

.lado{
    // border: 1px solid black;
         float: left;
    width: 200px;
    margin-top: 10px;
    position: relative;
    text-align: center;
     //background-color: #EEEEEE;
}
 a{
    color: #ED2241;
    text-decoration: none;
}
a:hover{
   color: #000;
}
.form-control{
    width: 99%;
}
footer{
    text-align: center;
    margin-top: 1%;
}